<h1 align='center'> Add Link </h1>

<form action='/links' method='post' align='center'>
  <label for='title'>
    Title:
    <input type='text' name='title' />
  </label>
  <label for='url'>
    URL:
    <input type='text' name='url' />
  </label>
  <input type='submit' value='Create link'>
</form>
