<style>
ol {
  position: absolute;
  left: 30%;
  top: 15%
}

h1 {
  position: absolute;
  left: 45%;
}

h2 {
  position: absolute;
  left: 40%;
  top: 8%
}

</style>


<h1 align='center'> Links </h1>

<ol align='center' id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= "#{link.title}" %>

      URL: <%= link.url.to_s %>

      Tags:<%= link.tags.map{|tag| tag.name}.join('; ') %>

    </li>
  <% end %>
</ol>
<div>
  <h2 align='center'>
    <a href='/links/new' >Add a bookmark</a>
  </h2>
</div>

<form action='/links/filter_by_tag' method='post' align='center'>
  <label for='tag'>
    <input type='text' name='tag' />
  </label>
  <input type='submit' value='Filter by tag'>
</form>
